@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <table id="sudokuTbl">
            <tr>
                <td id="0-0" class="bts bls br"></td>
                <td id="0-1" class="bts br"></td>
                <td id="0-2" class="bts brs"></td>
                <td id="0-3" class="bts bls br"></td>
                <td id="0-4" class="bts br"></td>
                <td id="0-5" class="bts brs"></td>
                <td id="0-6" class="bts bls br"></td>
                <td id="0-7" class="bts br"></td>
                <td id="0-8" class="bts brs"></td>
            </tr>
            <tr>
                <td id="1-0" class="bls bt br"></td>
                <td id="1-1" class="bt br"></td>
                <td id="1-2" class="bt brs"></td>
                <td id="1-3" class="bt br"></td>
                <td id="1-4" class="bt br"></td>
                <td id="1-5" class="bt brs"></td>
                <td id="1-6" class="bt br"></td>
                <td id="1-7" class="bt br"></td>
                <td id="1-8" class="bt brs"></td>
            </tr>
            <tr>
                <td id="2-0" class="bls bt br"></td>
                <td id="2-1" class="bt br"></td>
                <td id="2-2" class="bt brs"></td>
                <td id="2-3" class="bt br"></td>
                <td id="2-4" class="bt br"></td>
                <td id="2-5" class="bt brs"></td>
                <td id="2-6" class="bt br"></td>
                <td id="2-7" class="bt br"></td>
                <td id="2-8" class="bt brs"></td>
            </tr>
            <tr>
                <td id="3-0" class="bts bls br"></td>
                <td id="3-1" class="bts br"></td>
                <td id="3-2" class="bts brs"></td>
                <td id="3-3" class="bts bls br"></td>
                <td id="3-4" class="bts br"></td>
                <td id="3-5" class="bts brs"></td>
                <td id="3-6" class="bts bls br"></td>
                <td id="3-7" class="bts br"></td>
                <td id="3-8" class="bts brs"></td>
            </tr>
            <tr>
                <td id="4-0" class="bls bt br"></td>
                <td id="4-1" class="bt br"></td>
                <td id="4-2" class="bt brs"></td>
                <td id="4-3" class="bt br"></td>
                <td id="4-4" class="bt br"></td>
                <td id="4-5" class="bt brs"></td>
                <td id="4-6" class="bt br"></td>
                <td id="4-7" class="bt br"></td>
                <td id="4-8" class="bt brs"></td>
            </tr>
            <tr>
                <td id="5-0" class="bls bt br"></td>
                <td id="5-1" class="bt br"></td>
                <td id="5-2" class="bt brs"></td>
                <td id="5-3" class="bt br"></td>
                <td id="5-4" class="bt br"></td>
                <td id="5-5" class="bt brs"></td>
                <td id="5-6" class="bt br"></td>
                <td id="5-7" class="bt br"></td>
                <td id="5-8" class="bt brs"></td>
            </tr>
            <tr>
                <td id="6-0" class="bts bls br"></td>
                <td id="6-1" class="bts br"></td>
                <td id="6-2" class="bts brs"></td>
                <td id="6-3" class="bts bls br"></td>
                <td id="6-4" class="bts br"></td>
                <td id="6-5" class="bts brs"></td>
                <td id="6-6" class="bts bls br"></td>
                <td id="6-7" class="bts br"></td>
                <td id="6-8" class="bts brs"></td>
            </tr>
            <tr>
                <td id="7-0" class="bls bt br"></td>
                <td id="7-1" class="bt br"></td>
                <td id="7-2" class="bt brs"></td>
                <td id="7-3" class="bt br"></td>
                <td id="7-4" class="bt br"></td>
                <td id="7-5" class="bt brs"></td>
                <td id="7-6" class="bt br"></td>
                <td id="7-7" class="bt br"></td>
                <td id="7-8" class="bt brs"></td>
            </tr>
            <tr>
                <td id="8-0" class="bls bt br bbs"></td>
                <td id="8-1" class="bt br bbs"></td>
                <td id="8-2" class="bt brs bbs"></td>
                <td id="8-3" class="bt br bbs"></td>
                <td id="8-4" class="bt br bbs"></td>
                <td id="8-5" class="bt brs bbs"></td>
                <td id="8-6" class="bt br bbs"></td>
                <td id="8-7" class="bt br bbs"></td>
                <td id="8-8" class="bt brs bbs"></td>
            </tr>
        </table>
    </div>

    <div>
        <input class="btn-primary" value="Create" onclick="NewGame();" />
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        //GetCentroCostos();
    });

    function limpiarCampos() {
        $("#txtCodigo").val('');
        $("#txtNombre").val('');
    }

    function NewGame() {
        $.get('@Url.Action("NewGame", "Home")', {}, function (data) {
            debugger;
            var rst = JSON.parse(data);
           
            $.each(rst, function (key, value) {

                value.forEach(function callback(v, index) {
                    $("#".concat(key, "-", index)).html(v == 0 ? " " : v);
                });
            });

        }).fail(function (jqXHR, textStatus, error) {
            alert(error);
        }).always(function (cb) {
        });
    }

</script>
